<div class="container mt-2 mt-md-5">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        type="button"
      >
        Users
      </button>
    </li>
    <li class="nav-item">
      <button
        routerLink="/dashboard/products"
        routerLinkActive="active"
        class="nav-link"
        type="button"
      >
        Products
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        routerLink="/dashboard/orders"
        routerLinkActive="active"
        type="button"
      >
        Orders
      </button>
    </li>
    <!-- <li class="nav-item">
      <button class="nav-link" type="button">Categories</button>
    </li> -->
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
