.Categories {
  background: linear-gradient(180deg, #1576a9 0%, #18668f 100%);
  border-radius: 10px;
}

.categoryItem > div {
  border-radius: 5px;

  img {
    opacity: 80%;
  }
  img:hover {
    opacity: 100%;
    transform: scale(1.2);
    transition: all 0.5s;
  }
}
.searchInput {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 1px solid #ffffff;
  input {
    width: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    opacity: 80%;
    outline: none;
  }
  ::placeholder {
    color: #ffffff;
  }
}
