.divider {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 20px auto 10px;
  border-radius: 1px;
}

.footer-image {
  width: 100%;
}

.menu-links {
  width: 75%;
}

.bg-orange {
  background-color: #ed612c;
}
.bg-blue {
  background-color: #1576a9;
}
